<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StocksDEN HomePage</title>
    <link rel="stylesheet" href="\static\styles\home_page.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" href="../static/images/stocksden-logo.jpeg" type="image/x-icon" sizes="64x64">
</head>
<body>
    <header>
        <nav class="rightnav">
        <div class="logo">
            <img src="../static/images/stocksden-logo.jpeg" height="80px" alt="logo">
        </div>
        <a href="/home_page" style="margin-left: 100px;"><b>Home</b></a>
        <a href="#"><b>Invest</b></a>
        <a href="#"><b>Learn</b></a>
        <a href="#"><b>About StocksDEN</b></a>
        </nav>
        <nav class="leftnav">
            <a href="/login_page">Login</a>
            <a href="/register_page">SignUp</a>
        </nav>
    </header>
<div class="main"><h2>StocksDEN Predictions</h2><p><b>Predicting stock trends through analysis of global trends.</b></p>
    <a href="/two_page"><button class="learn-more"><b>Predict</b></button></a> <br>
    <br>
    <h2>Investment Return Calculator</h2><p><b>Calculting investment returns for given years with expected return</b></p>
    <a href="/return_calculator"><button class="learn-more"><b>Calculate</b></button></a>
</div>
</body>
</html>
