<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scratch Card</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link rel="icon" href="../static/images/stocksden-logo.jpeg" type="image/x-icon" sizes="64x64">
  </head>
  <body>
    <h1 class="abc">Scratch the card and win prizes</h1>
    <div class="container">
      <div class="base">
        <img src="../static/images/bg.png" width="50" height="50">
        <h4>You Won</h4>
        <h3>$5500</h3>
      </div>
      <canvas id="scratch" width="300" height="300"></canvas>
    </div>
    <!-- Script -->
    <script src="../static/js/app.js"></script>
  </body>
</html>