<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StocksDEN page</title>
    <link rel="stylesheet" href="\static\styles\two_page.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" href="../static/images/stocksden-logo.jpeg" type="image/x-icon" sizes="64x64">
</head>
<body>
    <header>
        <nav class="rightnav">
            <div class="logo">
                <img src="../static/images/stocksden-logo.jpeg" alt="logo" href="/index.html">
            </div>
            <a href="/home_page" style="margin-left: 100px;"><b>Home</b></a>
            <a href="#"><b>Invest</b></a>
            <a href="#"><b>Learn</b></a>
            <a href="#"><b>About StocksDEN</b></a>
        </nav>
        <nav class="leftnav">
            <a href="/login_page">Login</a>
            <a href="/register_page">SignUp</a>
        </nav>
    </header>

    <div class="background-image"></div>
    <div class="container">
        <h1 class="center">How to get started</h1>
        <div class="section">
            <h2>Stock recommendation & Prediction</h2>
            <p><b>Providing Stock recommendation and predicting the stock price</b></p>
            <a href="/stock_prediction"><button class="styling">Learn More</button></a>
        </div>

        <div class="scard">
            <h2>Enroll in the StocksDEN Stock Prediction today and get chance to win the scratch card</h2>
        </div>
    </div>
</body>
</html>